/* ==========================================================================
   #STYLES
   ========================================================================== */


/**
 *
 * [1]: Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 * [2]: WordPress System font-stack
 */


/* RESET
   ========================================================================== */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* [1] */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* FONTS
   ========================================================================== */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    /* [2] */
    display: block;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}


/* Header
   ========================================================================== */

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #525286;
    color: #FFFFFF;
    margin-bottom: 50px;
}


/* Homepage Container
   ========================================================================== */

.container {
    width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


/* Profile Card
   ========================================================================== */

.person {
    text-align: center;
}

.person>* {
    margin-bottom: 5px;
}

.person-image {
    width: 100%;
    height: 300px;
}


/* Profile Page
   ========================================================================== */

.profile {
    display: flex;
    height: 100vh;
    width: 100%;
}

.profile-image {
    height: 100%;
    flex-grow: 1;
    flex-basis: 50%;
}

.profile-details {
    flex-basis: 30%;
    flex-grow: 1;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile-details>* {
    margin-bottom: 20px;
}


/* Buttons
   ========================================================================== */

.button {
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 20px
}

.button-twitter {
    color: #FFFFFF;
    background-color: #659AF1;
    border-radius: 5px;
}

.button-home {
    color: #FFFFFF;
    background-color: #c90f0f;
    border-radius: 5px;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    position: absolute;
}

.content h3 {
    position: absolute;
    color: #fff;
    transform: translate(50%, 50%);
    font-size: 5em;
    align-items: center;
}

.content h3:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 1px #03a9f4;
}

.textsize {
    width: 200%;
    height: 50px;
}

.content h3:nth-child(2) {
    color: #f11cc3;
    animation: water_animate 2s ease-in-out infinite;
}

@keyframes water_animate {
    0%,
    100% {
        clip-path: polygon(0 47%, 8% 36%, 19% 27%, 31% 29%, 42% 45%, 48% 66%, 58% 79%, 76% 79%, 89% 75%, 100% 63%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 64%, 8% 76%, 19% 80%, 31% 78%, 42% 68%, 48% 46%, 58% 30%, 76% 28%, 89% 37%, 100% 48%, 100% 100%, 0 100%);
    }
}